/* mobile size */
.card-container {
  margin: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  h2 {
    margin-top: 40px !important;
    margin: 0px;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
  }

  .card-wrapper {
    width: 100%;
    margin: 0;
    min-height: 240px;
    height: 100%;
    border-radius: 10px;
    margin-top: 20px;
    color: #111;
    list-style-type: none;
    box-sizing: border-box;
    flex: 1 1 30%;

    .card-details {
      // width: 300px;
      min-height: 190px;
      border-radius: 10px;
      border: 1px solid rgb(117, 117, 117);
      // padding: 26px;
      display: flex;
      flex-direction: column;
      color: #fff;
      position: relative;
      opacity: 1; /* before hover state */
      transition: 1s ease;
      background-color: #202020;
      cursor: pointer;

      &:hover {
        border: 1px solid #fff;
      }

      article {
        pointer-events: none;
        button {
          display: none;
        }
      }

      .card-link-wrapper {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 12px;

        h2 {
          text-align: left;
          font-weight: bold;
          font-size: 24px;
        }
        p {
          font-size: 16px;
          margin: 0;
        }
      }
      .card-link-wrapper a.card-link {
        top: -12px;
        right: -10px;
      }

      .card-link-wrapper .ext-link-arrow {
        width: 25px;
        transform: rotate(316deg);
        position: relative;
        top: 0;
      }
    }
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal {
  z-index: 100;
  background: white;
  position: relative;
  margin: 1.75rem auto;
  border-radius: 3px;
  max-width: 500px;
  padding: 1rem 2rem;
  transition: opacity 5s;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
}

.modal-close-button {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  opacity: 0.3;
  cursor: pointer;
  border: none;
  position: relative;
  left: 26px;
  top: -10px;
}

button {
  font-size: 0.9rem;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  padding: 0.3rem 1rem;
  margin-left: 0.5rem;
}

.button-default {
  background: #247ba0;
  color: #fff;
}

// a.card-link {
//   display: inline-block !important;
//   color: #fff !important;
//   cursor: pointer;
//   text-decoration: underline;
//   font: normal 14px helvetica;
//   border: 1px solid red;
// }

// a.card-link:hover:before {
//   content: none;
// }

// p.card-heading {
//   color: #111;
//   font: normal 32px helvetica;
//   text-align: center;
//   position: relative;
//   z-index: 1;
//   background-color: #E0E9F1;
//   width: 200px;
//   height: 36px;
//   padding: 10px;
//   margin-left: auto;
//   margin-right: auto;
//   top: -13px;
// }

// .card-language-wrapper {
//   position: relative;
// }

// .card-language {
//   display: inline-block;
//   height: 16px;
//   color: #70c377;
//   border-radius: 10px;
//   padding-right: 12px;
//   text-align: center;
//   font-weight: bold;
//   font: normal 14px helvetica;
//   margin-bottom: 0;
//   margin-top: 10px;
// }

// hr {
//   position: relative;
//   top: 50px;
// }

// .flex {
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
//   justify-content: space-around;
// }

/* .card-filter {
  background-color: rgb(93 181 67 / 86%);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: auto;
  height: 300px;
  position: absolute;
  z-index: 999;
  width: 540px;
  opacity: .7;
} */
// .card-wrapper {
//   width: 360px;
//   min-height: 240px;
//   height: 100%;
//   border-radius: 10px;
//   /* background-color: #172043; */
//   margin-top: 20px;
//   color: #111;
//   border: 1px solid rgb(201 201 201);
//   /* transition: transform .2s; */
// }

/* .card-wrapper.dark {
  width: 500px;
  min-height: 300px;
  height: 100%;
  border-radius: 8px;
  background-color: #2b3e61;
  margin-top: 20px;
  color: #fff;
} */

/* .card-wrapper.dark .card-details > p {
  font: normal 16px helvetica;
  line-height: 1.4;
  color: #fff
} */

/* #thumb1 {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-repeat: no-repeat;
  width: auto;
  height: 300px;
  background-size: cover;
  background-image: url('../../images/allstate-thumb.png');
  position: relative;
  z-index: 0;
} */

.thumb-image:hover .card-details {
  transform: scale(1.2);
}
.thumb-image {
  border-radius: 10px;
  background-repeat: no-repeat;
  width: 360px;
  height: 240px;
  position: absolute;
  z-index: 0;
  display: block;
  transform: scale(1);
  transition: 0.5s ease;
  /* height: auto; */
}

/* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
/* .card-wrapper:hover {
  transform: scale(1.1); 
} */

.yt-lite {
  border-radius: 10px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 1200px) {
  .yt-lite {
    border-radius: 10px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* MEDIA QUERY */

/* Desktop */

@media only screen and (min-width: 968px) {
  .card-container {
    .card-wrapper {
      flex: 0 0 33.33333%;
    }
  }
}
@media only screen and (min-width: 768px) {
  .card-container {
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .card-wrapper {
      flex: 0 0 30%;
      display: flex;
      justify-content: center;
      margin: 20px 0;

      .card-details {
        width: 300px;

        .card-link-wrapper {
          p {
            font-size: 16px;
            margin: 0;
          }
        }

        .card-link-wrapper a.card-link {
          top: -12px;
          right: -10px;
        }

        .card-link-wrapper .ext-link-arrow {
          width: 25px;
          transform: rotate(316deg);
          position: relative;
          top: 0;
        }
      }
    }
  }
}

// @media only screen and (min-width: 400px) {
//   .card-container {
//     .card-wrapper {
//       width: 100%;
//     }
//   }
// }
